@import "tailwindcss";

@theme {
  --font-sans: "sans-serif", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* ===================== */
  /* Fondos */
  /* ===================== */

  /* Fondo general */
  --primary-50: #F5F9FF;

  /* Secciones */
  --primary-100: #E8F1FF;

  /* Cards suaves */
  --primary-200: #D4E5FF;

  /* ===================== */
  /* Base */
  /* ===================== */

  /* Sidebar / color principal */
  --primary-300: #64B5F6;

  /* Hover */
  --primary-400: #1E88E5;

  /* ===================== */
  /* Acciones */
  /* ===================== */

  /* Botones / CTA */
  --primary-500: #0D6EFD;

  /* Botones activos */
  --primary-600: #0A58CA;

  /* ===================== */
  /* Texto y contraste */
  /* ===================== */

  /* Títulos */
  --primary-700: #0A3D62;

  /* Texto fuerte */
  --primary-800: #072A45;

  /* Texto muy oscuro */
  --primary-900: #041A2E;

  /* ===================== */
  /* Neutrales */
  /* ===================== */

  --neutral-50: #FFFFFF;
  --neutral-100: #F8FAFC;
  --neutral-200: #F1F5F9;
  --neutral-300: #E2E8F0;
  --neutral-400: #CBD5E1;
  --neutral-500: #94A3B8;
  --neutral-600: #64748B;
  --neutral-700: #475569;
  --neutral-800: #1E293B;
  --neutral-900: #0F172A;

  /* ===================== */
  /* Feedback */
  /* ===================== */

  --success: #2E7D32;
  --error: #D32F2F;
  --warning: #F9A825;
}



html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
}